// font family
$primary-kr: "Noto Sans KR", sans-serif;
$secondary-kr: 'SpoqaHanSansNeo-Regular';
$primary-en: "Raleway", sans-serif;
$bs-font: bootstrap-icons;

// text color
$dark-black: #333333;
$dim-black: #555555;
$silver-black: #777777;
$light-black: #999999;
$dark-gray: #BDBDBD;
$dim-gray: #D0D0D0;
$silver-gray: #EEEEEE;
$light-gray: #F5F5F5;
$cloudy-gray: #F9F9F9;

// object color
$royalblue: #006BE5;
$orangered: #FD5631;
$orange: #FFD912;
$crimson: #ED2040;
$forestgreen: #2ECC71;
$turquoise: #00D2D3;
$tomato: #FF4C79;
$white: #FFFFFF;
$black: #000000;